.app-container {
  display: flex;
  height: 100%;

  .left-pane {
    flex: 2;
    overflow-y: auto;
  }

  .right-pane {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
    overflow-y: auto;
  }
}
